@mixin btn {
    border-radius: 6px;
    background: var(--color-birinchi);
    color: #FFF;
    font-family: "Roboto";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    padding: 10px 20px;

    &:hover {
        background: #FFF;
        color: var(--color-birinchi);
        border: 2px solid var(--color-birinchi);
    }
}

@mixin boshi {
    color: var(--color-birinchi);
    font-family: "Roboto";
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.5px;
    text-transform: uppercase;
}

@mixin h {
    color: var(--color-qora);
    font-family: "Roboto";
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
}

@mixin h2 {
    color: var(--color-qora);
    font-family: "Roboto";
    font-size: 48.44px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

@mixin text {
    color: var(--color-qora);
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    opacity: 0.6;
}