.about {
    margin-top: 150px;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 140px
    }

    &__title {
        @include boshi;
    }

    &__heading {
        @include h;
        margin-top: -20px;
    }

    &__text {
        max-width: 503px;
        width: 100%;
        @include text;
        margin-top: -30px;
    }
}

@media only screen and (max-width: 920px) {
    .about .container {
        flex-direction: column;
        text-align: center;
    }

    .about__info {
        text-align: center;
    }

    .about__text {
        transform: translateX(170px);
    }
}

@media only screen and (max-width: 850px) {
    .about__text {
        transform: translateX(150px);
    }
}

@media only screen and (max-width: 800px) {
    .about__text {
        transform: translateX(100px);
    }
}

@media only screen and (max-width: 750px) {
    .about__text {
        transform: translateX(50px);
    }
}

@media only screen and (max-width: 562px) {
    .about__text {
        transform: translateX(10px);
    }

    .btn__2 {
        font-size: 16px;
    }

    .b__2 {
        font-size: 14px;
    }
}