.end {
    margin-top: 136px;

    .container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        text-align: center;
        justify-content: center;
        gap: 100px;
    }

    &__info {
        align-items: center;
        text-align: start;

        &--1 {
            max-width: 139px;
            width: 100%;
            height: 149px;
        }

        &--2 {
            max-width: 188px;
            width: 100%;
            height: 218px;
        }

        &--3 {
            max-width: 198px;
            width: 100%;
            height: 218px;
        }

        &--4 {
            max-width: 220px;
            width: 100%;
            height: 165px;
        }
    }

    &__heading {
        color: var(--color-qora);
        font-family: "Roboto";
        font-size: 25px;
        font-style: normal;
        line-height: 15%;
        font-weight: 500;
    }

    &__link {
        color: var(--color-qora);
        font-family: "Roboto";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 200%;
        opacity: 0.7;
        transform: translateY(-20px);
    }
}

@media only screen and (max-width: 994px) {
    .end .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 625px) {
    .end__heading {
        font-size: 22px;
    }

    .end__text {
        font-size: 16px;
    }
}

@media only screen and (max-width: 545px) {
    .end .container {
        display: grid;
        grid-template-columns: repeat(1, 1fr );
        transform: translateX(130px);
        text-align: center;
    }

    .end__info {
        text-align: center;
    }
}

@media only screen and (max-width: 400px) {
    .end .container {
        transform: translateX(50px);
    }
}