.header {
    margin-top: 20px;


    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.nav {
    display: flex;
    gap: 40px;
}

.nav__link {
    color: #000;
    font-family: "Roboto";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    &:hover {
        color: #0082F4;
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration: underline;
        text-underline-offset: 20px
    }
}

.header__btn {
    @include btn;
}

.header__info {
    display: flex;
    gap: 10px;
}

.nav__btn {
    display: none;
}

.btn {
    border: none;
    background-color: #FFF;
    display: none;
}


.menu {
    display: none;
}

.exit {
    display: none;
}


@media only screen and (max-width: 750px) {
    .nav {
        display: none;
    }

    .btn {
        display: block;
    }

    .menu {
        display: block;
    }

    .menu__exit {
        display: none;
    }

    .exit__menu {
        display: block;
    }

    .nav__blok {
        display: block;
        position: absolute;
        font-family: "Robot";
        width: 50%; 
        height: 10%;
        top: 80px;
        left: 0px;
        border-radius: 8px;
        animation: navblok 1s ease;

        &>li {
            line-height: 50px;
            text-align: center;
        }

        &>li>a {
            font-size: 24px;
            margin-right: 40px;
            color: #000;


            &:hover {
                text-decoration: underline;
            }
        }

        @keyframes navblok {

            from {
                transform: translateX(-60%);
                opacity: 0;
            }

            to {
                transform: translateX(0%);
                opacity: 1;
            }
        }

        @keyframes textlist {
            from {
                transform: translateX(400px);
                opacity: 1;
            }

            to {
                transform: translateX(0%);
                opacity: 1;
            }
        }
    }
}

@media only screen and (max-width: 425px) {
    .header__btn {
        display: none;
    }

    .nav__btn {
        display: inline-block;
        white-space: nowrap;
        text-align: center;
    }
}